.navbar_container {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    height: 140px;
}

.navbar_left {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
}

.navbar_center{
    flex-grow: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navbar_logo{
    width:30px ;
    margin: 0;
}

.navbar_right {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar_title {
    font-size: 40px;
    margin: 0;
}

.navbar_undertitle{
    font-size: 0.9rem;
    font-style: italic;
    margin: 0;
}

.navbar_element{
    margin: 0 10px;
    font-size: larger;
    text-decoration: none;
    color: #000000;
}

@media only screen and (max-width: 600px) {
    .navbar_title{
        font-size: 0.5rem;
    }

    .navbar_element{
        font-size: 0.5rem;
    }
}
