.login_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 240px);

}

.signup_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 20px 0;
}

.auth_form_container {
    width: 95%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #7D8844;
    border-radius: 25px;
}

.auth_form{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
}

@media only screen and (max-width: 600px) {

}
