.main_form_container{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    padding: 10px;
}

.recipe_form_title{
    margin: auto;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    border: 1px solid #7D8844;
    border-radius: 25px;
}

.recipe_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: none;
    padding: 10px;
    margin: 10px;
    max-width: 100%;

}


.recipe_time {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: none;
    padding: 10px;
    max-width: 100%;


}


.recipe_cover_photo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 10px;
    max-width: 100%;
    min-height: 50px;
}

.recipe_ingredients {
    display: grid;

    padding: 10px;
    margin: 10px;
    max-width: 100%;
}

.recipe_steps {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 10px;
    max-width: 100%;

}

.recipe_tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 10px;
    max-width: 100%;
    min-height: 50px;

}

/* INPUTS CSS */

.input_short {
    max-width: 40px;
    border: none;
    margin: 10px;
    background-color: rgba(169, 168, 168, 0.7);
    border-radius: 15px;

}

.input_medium {
    min-width: 400px;
    height: 30px;
    border: none;
    margin: 10px;
    background-color: rgba(169, 168, 168, 0.7);
    border-radius: 15px;
}

.input_long {
    min-height: 70px;
    min-width: 400px;
    border: none;
    margin: 10px;
    background-color: rgba(169, 168, 168, 0.7);
    border-radius: 15px;

}

.label {
    background-color: #7d8844;
}



.button_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form_primary_button {
    display: flex;
    justify-content: center;
    background-color: #7d8844;
    border-radius: 15px;
    border: none;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
    max-width: 100px;
}

.form_add_secondary_button {
    background-color: #7d8844;
    border-radius: 15px;
    border: none;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
}

.recipe_list{
    background-color: #a92323;
}