body {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
}

h1 {
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 48px;
}

.App {
    text-align: center;
}


.display-on-tablet-only {
    display: none !important;
}

.display-on-desktop-only {
    display: block !important
}

@media only screen and (max-width: 768px) {
    .display-on-tablet-only {
        display: block !important;
    }

    .display-on-desktop-only {
        display: none !important;
    }
}

.colorError {
    color: #dc1f1f;
}

.colorSuccess {
    color: #13a613;
}