.main-form-container{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    padding: 10px;
    margin: 10px;
}

.recipe-title {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.42);
    border: none;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    max-width: 500px;

}


.recipe-time {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.42);
    border: none;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    max-width: 500px;

}


.recipe-cover-photo{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.42);
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    max-width: 500px;

}

.recipe-ingredients {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.42);
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    max-width: 700px;
}

.recipe-steps {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.42);
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    max-width: 700px;

}

.recipe-tags {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.42);
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    max-width:700px;

}

/* INPUTS CSS */

.input-short {
    max-width: 40px;
    border: none;
    margin: 10px;


}

.input-medium {
    min-width: 400px;
    height: 30px;
    border: none;
    margin: 10px;
}

.input-long {
    min-height: 70px;
    min-width: 400px;
    border: none;
    margin: 10px;

}

/* FORM ADD BUTTONS */

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-add-primary-button {
    display: flex;
    justify-content: center;
    background-color: #F07167;
    border-radius: 15px;
    border: none;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
    max-width: 100px;
}

.form-add-secondary-button {
    background-color: #F07167;
    border-radius: 15px;
    border: none;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
}