

.before-gallery {
    height: 200px;
}

.gallery-page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #2f2f2f;
    margin: 0px;
    padding: 40px;
}

.search-input {
    background-color: #e3e2e2;
    color: #414040;
    width: 500px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    margin: 0 auto;
    border-radius: 25px;
    border: none;
}

.search-input:focus{
    outline: none;
}

.gallery-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
    background-color: #0081A7;
}


.gallery-card {
    display: flex;
    margin: 20px 10px;
    width: 300px;
    height: 400px;
    flex-direction: column;
    border-radius: 25px;
    align-items: center;
    background-color: #FED9B7;
}


.gallery-card-top{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px;
    justify-content: center;
    box-sizing: border-box;
}

.gallery-card-img {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 200px;
    border-radius: 25px;
    object-fit: cover;
}

.gallery-card-center{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery-card-title {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #2f2f2f;
}

.gallery-card-tags {
    display: flex;
    text-decoration: none;
    align-items: flex-end;
    margin-bottom: 10px;
}

.card-tag {
    background-color: #d2d0d0;
    margin: 0 5px;
    border-radius: 25px;
    text-decoration: none;
    color: #868585;
    padding: 1px 5px;
    font-size: 12px;

}

.gallery-card-tags:link {
    display: flex;
    text-decoration: none;
    align-items: flex-end;
}

.gallery-card-tags:active {
    display: flex;
    text-decoration: none;
    align-items: flex-end;
}

.gallery-card-tags:visited {
    display: flex;
    text-decoration: none;
    align-items: flex-end;

}

.gallery-card-bottom{
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}

.button-primary{
    margin: 20px;
    background-color: #F07167;
    color: #FED9B7;
    border-radius: 15px;
    padding: 10px 20px;
    border: none;
}